@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,342;1,400&family=Noto+Sans:wght@400;700&family=Poppins&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif; /*Vai usar Noto Sans como fonte. Se não tiver, vai usar sans-serif*/
}

body * {
    box-sizing: border-box;
}

header{ /* Cabeçalho */
	position: fixed;
    height: 70px;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 10%;
	background-color: #006494;
}

.logo img{ /*imagem logo*/
	max-width: 65px;
	height: auto;
    transition: all .42s ease;
}

.logo img:hover{
	transform: scale(1.1);
}

.login-principal{
    width: 100vw;
    height: 100vh;
    background: #e7e7e7;

    display: flex; /*deixa os elementos um ao lado do outro*/
    justify-content: center;  /*alinhar tudo no eixo x - centro*/
    align-items: center; /*alinhar tudo no eixo y - centro*/
}

.login-esquerda{
    width: 50vw; /*a largura vai ser só até a metade da tela*/
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /*mesmo usando o display: flex, esse faz os elementos ficarem um abaixo do outro*/
}

.login-esquerda > h1 {
    font-size: 3vw; /*título ser responsivo*/
    color: #005177;
}

.imagem-login{
    width: 30vw;
}

.login-direita{
    width: 50vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%; /*vw (viewport) pega a largura da tela. A porcentagem pega a largura da div. Ou seja, vai pegar 60% de 50vw*/

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 30px 35px; /*primeiro valor é em relação ao eixo y, o segundo é o x(adiciona o padding no eixo x)*/
    background: #003750;
    border-radius: 20px; /*criar a borda redonda*/
    box-shadow: 0px 10px 40px #00000056; /*primeiro valor é o x (se quer que a sombra vá para a direita ou esquerda), o segundo valor é y (para cima ou para baixo), o terceiro valor é o blur e o quarto valor é a cor da sombra*/
}

.card-login > h1{
    color: #FFFFFF;
    font-weight: 800; /*grossura da fonte. 800 é a mais grossa, tipo bold*/
    margin: 0;
}

.texto{
    width: 100%;
    margin: 10px 0px; /*primeiro valor é o eixo y e o segundo eixo x*/
    display: flex;
    flex-direction: column; /*quando usa o flex-direction, o justify-content e o align-items invertem*/
    align-items: flex-start;
    justify-content: center;
}

.texto > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px; /*somente um valor serve para ambos os eixos (x e y)*/
    color: #00649494; /*cor do texto que o usuário vai inserir*/
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    /*outline: none; - serve para tirar a caixa ao redor do input */

    box-sizing: border-box; /*div filho jamais vai ultrapassar a div pai - o input não vai ultrapassar*/
}

.texto > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.texto > input::placeholder{
    color: #003e5a94; /*texto do placeholder*/
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #FFFFFF;
    background: #006494;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #059be052; /*quarto valor, além da cor, é o spreading*/
    transition: 1s;
}

.btn-login:hover{
    background: #007cb9;
}

@media only screen and (max-width: 950px) { /*enquanto a tela tiver uma largura de 950px, faça os passos*/
    .card-login{
        width: 85%; /*tem 60%, mas quando for menor que 950px vai ter 85% de width*/
    }
}

.card-login > p{
    color: #f0ffffde;
    font-weight: 800; /*grossura da fonte. 800 é a mais grossa, tipo bold*/
}

.card-login > p > a{
    text-decoration: none;
    color: #0097e2;
    font-weight: 800; /*grossura da fonte. 800 é a mais grossa, tipo bold*/
    transition: 1s;
}

.card-login > p > a:hover{
    color: #00b7ff;
}