@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #006494;
}

header{ /* Cabeçalho */
	position: fixed;
    height: 70px;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 10%;
	background-color: #006494;
}

.logo img{ /*imagem logo*/
	max-width: 65px;
	height: auto;
}

.logo img:hover{
	transform: scale(1.1);
}

.container {
    margin-top: 70px;
    width: 95%;
    max-width: 1600px;
    display: flex;
    box-shadow: 5px 5px 10px #00000036;
}

.form-image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dcecff;
    padding: 1.5rem;
}

.form-image img {
    width: 100%;
    height: auto;
}

.form {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    padding: 3.5rem;
}

.form-header {
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 20rem;
    height: 0.3rem;
    background-color: #006494;
    margin: 0 auto;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
    width: 48%;
}

.input-box input {
    margin: 0.7rem 0;
    padding: 1.5rem 2rem;
    height: 30%;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 1.4rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #006494;
}

.input-box label, .genero label {
    font-size: 1.4rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.genero select {
    padding: 0.7rem 0.7rem;
    font-size: 1.4rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
}

.genero select::-ms-expand {
    display: none;
}

.continue-button button {
    margin-left: 30%;

    font-size: 20px;
    width: 40%;
    background-color: #ffffff;
    padding: 0.62rem;
    border-radius: 50px;
    cursor: pointer;
    transition: 1s;
    border: solid 1px #006494;
    color: #216c8f;
    font-weight: 550;
}

.continue-button button:hover {
    color: #ffffff;
    background: #007cb9;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }

    .container {
        flex-direction: column;
    }

    .form {
        width: 100%;
        padding: 3.5rem;
    }

    .input-box {
        width: 100%;
    }

    .form-header {
        flex-direction: column;
        align-items: center;
    }
}