*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    max-width: 100%;
    max-height: 150px;
    padding: 0 ;
    margin: 0 auto;
    background-color: #FFF;
}

/* Linha Preta de Corte Menu e Integrantres*/
#linha-horizontal {
    width: 100%;
    border: 1px solid #000;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient(#BB96DB, #A2E4E4); -- Se for colocar gradiente no menu */
}

nav ul{
    list-style: none; /* tira os tópicos */
}

nav ul li{
    display: inline; /* organiza a lista em linha */
}

nav ul li a{
    padding: 10px 20px; /* espaçamento entre as palavras da lista */
    text-decoration: none;
    font-size: 25px;
    color: #000;
    border-radius: 30px;
    transition: 0.6s;
}

nav ul li a:hover{
    background-color: #5198a5 ;
}

h3 {
    text-align: center;
    margin: 10px;
}

/* Seção Integrantes */
.img{
	display: flex;
	margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.img div{
    margin: 10px;
}

/* Linha Preta de Corte Integrantes e Textos*/
#linhahorizontal{
    width: 100%;
    border: 1px solid #000;
}

/* Grandiente da Apresentação*/
.boxapresenta {
    background-image: linear-gradient(#07AFAF, #A2E4E4, #BB96DB, #A27CED);
    background-size: 100%;
    overflow: auto;
    padding: 3em;
}

.boxapresenta h2{
    color: #000;
    text-align: center;
    margin: 30px;
}

.conteudo-apresentação h3{
    text-align: justify;
    text-indent: 50px;
    color: #000;
    justify-content: center;
}

/* Gradiente, imagens e textos */
.box {
    background-image: linear-gradient(#A27CED, #BB96DB, #A2E4E4, #07AFAF);
    background-size: 100%;
    overflow: auto;
    padding: 3em;
}

.box .meta h2{
    color: #000;
    text-align: center;
}

.box .meta #texto{
    margin-top: 65px;
    justify-content: center;
    color: #000;
    text-align: left;
}

.conteudo-missão{
    display: flex;
}

.conteudo-visão{
    display: flex;
}

.conteudo-valores{
    display: flex;
}

#texto h4 ul li{
    list-style-type: none;
}

#linhahorizonte{
    width: 100%;
    border: 2px solid #000;
    
}

/* Rodapé*/

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}


/* fundo footer */
.footer-distributed {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 18px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left {
    width: 30%;
}

/* Muda a palavra Capy*/
.footer-distributed h3 {
    color: #000;
    font: normal 38px 'Cookie', cursive;
    margin: 0;
}

/* Muda Developer*/
.footer-distributed h3 span {
    color: #07AFAF;
}

/* Footer links */
.footer-distributed .footer-links {
    color: #000;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-links a:hover {
    color: #07AFAF;
}

/* Texto direitos reservados */
.footer-distributed .footer-company-name {
    color: #000;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 20px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #000;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #000;
    text-decoration: none;
    ;
}

.footer-distributed .footer-center a:hover{
	color: #07AFAF;
}

/* Footer Right */
.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #000;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #1b1e23;
    border-radius: 2px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #07AFAF;
}

.footer-right .footer-company-about{
    color: #07AFAF;
}

.footer-right .footer-company-about strong{ 
    color: #000;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       